h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    line-height: 1,3;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: rgb(2, 44, 32);
  }

  body {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to top left, #123649, #2B6665);
  } 

  .ml10 {
    position: relative;
    font-weight: 900;
    font-size: 4em;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }

